<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
<title>Clients List</title>
</head>
<body>
	<div th:fragment="content">
	
		<a href="clientsCreateForm.html" th:href="@{/clients/create}">Add Clients</a> 
	
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="client : ${clients}">
					<td th:text="${client.id}">34987498374893</td>
					<td th:text="${client.name}">Client 1</td>
					<td>
						<form action="#" th:action="@{/clients/} + ${client.id}" method="get">
							<button type="submit">View Client</button>
						</form>
					</td>
					<td>
						<form action="#" th:action="@{/clients/} + ${client.id} + @{/update}" method="get">
							<button type="submit">Update Client</button>
						</form>
					</td>					
					<td>
						<form action="#" th:action="@{/clients/} + ${client.id}" method="post">
							<input type="hidden" name="_method" value="delete" />
							<button type="submit">Delete Client</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>